.tableHeader{
  margin-bottom: 20px;
  align-content: center;
  justify-content: center;
}

.tableHeader button{
  width: 100px;
  height: 40px;
  margin-left: 20px;
  margin-top: 25px;
  background: #0C9ABE;
  border: 0;
  border-radius: 8px;
  color: #FFF8F0;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.tableHeader button:hover{
  opacity: 0.7;
}

.body{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
