<po-page-default
  p-title="DMED - Despesas Detalhadas"
>
  <div class="body">
    <button (click)="inserir()">Novo</button>
    <div class="tableHeader">
      <form #filterForm="ngForm">
        <po-input
          class= "po-md-1"
          p-maxlength="6"
          p-minlength="6"
          p-clean="true"
          p-help="Operadora"
          name="formOperator"
          [(ngModel)]="formOperator"
        >
        </po-input>
        <po-datepicker
          class= "po-md-2"
          p-help="Data De"
          name="formDateFrom"
          [(ngModel)]="formDateFrom"
        >
        </po-datepicker>
        <po-datepicker
        class= "po-md-2"
        p-help="Data Até"
        name="formDateTo"
        [(ngModel)]="formDateTo"
      >
      </po-datepicker>
        <po-input
          class= "po-md-2"
          p-mask="999.999.999-99"
          p-clean="true"
          p-maxlength="14"
          p-minlength="14"
          p-help="CPF Titular"
          name="formSsnHolder"
          [(ngModel)]="formSsnHolder"
        >
        </po-input>
        <po-input
          class= "po-md-4"
          p-maxlength="40"
          p-clean="true"
          p-help="Chave Despesa"
          name="formExpenseKey"
          [(ngModel)]="formExpenseKey"
        >
        </po-input>
      </form>
      <button (click)="filterExpenseList()" >
        <i class="po-icon po-icon-filter"></i> Filtrar
      </button>
    </div>
    <po-table
      [p-items]="filteredExpenseList"
      [p-actions]="tableActions"
      [p-columns]="columns"
      p-keep-filters="true"
      p-sort="true"
      (p-show-more)="showMore()"
      [p-show-more-disabled]="hasNext"
      >
    </po-table>
  </div>
</po-page-default>
